.header-container {
    background-color: #89DFBB; /* Cor de fundo verde-água */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 180px; /* Ajuste o tamanho da imagem de acordo com suas necessidades */
    height: auto;
    
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px; 
  }
  
  .search-input {
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 10px;
  }
  
  .search-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
  }

  .lupa-icon {
    width: 20px; /* Ajuste o tamanho do ícone de acordo com suas necessidades */
    height: 20px;
  }
  
  .user-actions {
    display: flex;
    align-items: center;
  }
  
  .login-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .register-button {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
  }
  